@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');
:root {
  --dark-border: #f0f0f0;
  --light-border: #2d2d2d;
  // font-family: 'Quicksand', 'Fira Code';
  --bg-col: #2c3137;
  --text-font: 'Quicksand', sans-serif;
  --data-font: 'Fira Code', monospace;
}
.dark {
  --text-col: #fefefe;
  --bg-highlight: #666561;
  color: var(--text-col);
  background-color: var(--bg-col);
}
.light {
  --bg-col: #fefefe;

  --text-col: #2c3137;

  --bg-highlight: #cccac1;

  color: var(--text-col);
  background-color: var(--bg-col);
}
textarea {
  color: var(--text-col);
  font-family: var(--text-font);
  background-color: var(--bg-col);
}
input[type='text'] {
  background-color: inherit;
  color: var(--text-col);
}
fieldset {
  width: max-content;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 1em;
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--bg-highlight);
}

header {
  padding-left: 1em;
  background-color: var(--bg-highlight);
  font-family: var(--text-font);
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  & h1 {
    align-self: center;
  }
}
main {
  display: grid;
  font-family: var(--text-font);
  grid-template:
    'pal-name pal-name' min-content
    'pallete sliders' auto / minmax(min-content, 50%) auto;
  @media screen and (max-width: 1200px) {
    grid-template:
      'pal-name' auto
      'pallete' auto
      'sliders' auto / max-content;
  }
  table {
    grid-area: pallete;
  }
  h2 {
    grid-area: pal-name;
  }
}
body {
  background-color: var(--bg-col);
}
button {
  font-family: var(--data-font);
  background-color: transparent;
}
